:root{
    --color_1:#4d4377;
    --color_2:#ffffe6;
    --color_3:#251f36;
    --color_4:#120907;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--color_4);
    color: var(--color_2);
    margin: 0px;
}
.mainContainer{
    position: absolute;
    width: 100%;
    height: 100%;
}

.searchBar{
    display: flex;
    justify-content: space-between;
    background: var(--color_1);
    color: var(--color_2);
    height: 100px;
}

.logo{
    margin-left: 10px;
    height: 100px;
    width: 150px;
}

.input-bar{
    display: flex;
    align-self: center;
    height: 30px;
    width: 720px;
    background: var(--color_2);
    border-radius: 10px;
}

.search{
    font-size: 30px;
    align-self: center;
    color: #120907;
    padding: 5px;
}

.bar{
    align-self: center;
    height: 25px;
    width: 700px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: var(--color_2);
    font-size: 18px;
    padding-left: 10px;
}
.searchBar p{
    align-self: center;
}

.cart-outline{
    font-size: 30px;
}

.carrito{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.counter{
    display: flex;
    background: var(--color_4);
    bottom: 15px;
    left: 35px;
    height: 20px;
    width: 18px;
    border-radius: 20px;
    place-content: center;
}

.searchBar span{
    font-weight: bolder;
}

.options{
    background:var(--color_3);
}
.options-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color_2);
    margin: 0px;
    height: 30px;
}

.options-list li{
    list-style: none;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.options-list li:hover{
    transform: scale(1.1); 
    border: 1px solid var(--color_2);  
    border-radius: 20px;
    padding: 1px 10px 1px 10px;
}

.carrito-compras{
    position: absolute; 
    /* overflow: hidden;
    max-height: 0; */
    visibility: visible;
    left: 50vw;
    height: 100vh;
    width: 25vw;
    background-color: var(--color_2);
    border-radius: 20px 0px 0px 20px;
}
.top-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 25px;
    border-bottom: 2px solid var(--color_1);
}

.title-carrito-compras{
    color: var(--color_1);
    font-weight: bolder;
    font-size: 25px;
}

.cart-outline-carrito{
    color: var(--color_1);
    font-size: 30px;
}
.grid-carrito{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10vw,330px));
    grid-template-rows: repeat(auto-fit,minmax(70px,80px));
    justify-content: center;
    gap: 15px;
}

.card-carrito{
    display: flex;
    align-items: center;
    height: 80px;
    width: 330px;
    background: var(--color_1);
    border-radius: 20px;
}

.imagen-card-carrito{
    object-fit: cover;
    height: 60px;
    width: 60px;
    margin-left: 15px;
    border-radius: 50px;
}

.title-card-carrito{
    font-size: 20px;
    color: var(--color_2);
    margin-left: 15px;
}

.price-card-carrito{
    font-size: 18px;
    font-weight: lighter;
    color: var(--color_2);
    margin-left: 70px;   
}

.trash{
    font-size: 25px;
    color: var(--color_2);
    margin-left: 10px;
}

.grid-products{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin: 15px;
}

.card-products{
    display: grid;
    grid-template-rows: 240px 50px 70px 50px;
    width: 250px;
    border-radius: 20px;
    background: var(--color_1);
    transition: transform 0.5s ease;
    margin: 15px;
}

.card-products:hover{
    transform: scale(1.02);
}

.image-product{
    height: 240px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0px 0px;
}

.title-card{
    font-weight: bolder;
    font-size: 18px;
    padding: 10px;
}

.subtitle-card{
    font-weight: lighter;
    font-size: 15px;
    padding: 10px;
}

.price-button{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 10px;
}

.price-card{
    place-self: center;
    font-size: 20px;
    font-weight: bolder;
}

.add-cart{
    cursor: pointer;
    height: 30px;
    width: 120px;
    background: var(--color_3);
    color: var(--color_2);
    border: 1px solid var(--color_2);
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.add-cart:hover{
    transform: scale(1.1);
}